#  OPENAI_API_KEY=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
# #  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

# GOOGLE_API_KEY=AIzaSyCyRi2S7IFjTN2x8Jzxz17TBsgKv-Vy9jE
# LLM_PROVIDER=gemini


#  MONGODB_URI = mongodb+srv://admin:admin@cluster0.vbarago.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0


#  GEMINI_MODEL=gemini-1.5-flash
# GOOGLE_API_VERSION=v1
# OpenAI not needed if you’re Gemini-only, but harmless if left
OPENAI_API_KEY=sk-svcacct-REDACTED

GOOGLE_API_KEY=AIzaSyCbHUNRhsVP0Xv0aKfMQZcVlvtlhyAmR6I
# LLM_PROVIDER=gemini
GEMINI_MODEL=gemini-2.5-flash


GOOGLE_API_VERSION=v1beta   # <- switch from v1 to v1beta

# Add a DB name (good practice)
MONGODB_URI=mongodb+srv://admin:admin@cluster0.vbarago.mongodb.net/app?retryWrites=true&w=majority&appName=Cluster0

