#  OPENAI_API_KEY=sk-svcacct-Y

# GOOGLE_API_KEY=AIzaSyCyRi2S7IFjTN2x8Jzxz17TBsgKv-Vy9jE
# LLM_PROVIDER=gemini


#  MONGODB_URI = mongodb+srv://admin

#  GEMINI_MODEL=gemini-1.5-flash
# GOOGLE_API_VERSION=v1
# OpenAI not needed if you’re Gemini-only, but harmless if left
OPENAI_API_KEY=sk-svcacct-REDACTED

GOOGLE_API_KEY=AIzaS
# LLM_PROVIDER=gemini
GEMINI_MODEL=gemini-2.5-flash


GOOGLE_API_VERSION=v1beta   # <- switch from v1 to v1beta

# Add a DB name (good practice)
MONGODB_URI=mongodb+srv://admin

